h1, body {font-family: 'Noto Serif', serif;
color: rgba(94, 35, 0, 1.0000);
}

em {color: rgba(255, 108, 3, 1.0000);}

.jumbotron {background-color: rgba(255, 255, 255, 1.0000);}

#chocolate_bar {width: 100%;}

.btn-primary {
	background-color: rgba(255, 108, 3, 1.0000);
	border-color: rgba(94, 35, 0, 1.0000);
	}

.form-signin {
	width: 400px;
	margin: auto;
	padding: 40px;
}

#hero-img {
	max-width: 100%;
}

.carts {
  .item_price, .total_line {
    text-align: right;
  }

  .total_line .total_cell {
    font-weight: bold;
    border-top: 1px solid rgba(255, 108, 3, 1.0000);
  }
}

.navbar-default {
  background-color: rgba(94, 35, 0, 0.2);
  border-color: #e7e7e7;
}

.navbar-default .navbar-brand {
  color: #777777;
}

.navbar-default .navbar-brand:hover,
.navbar-default .navbar-brand:focus {
  color: #5e5e5e;
  background-color: transparent;
}

.navbar-default .navbar-text {
  color: #777777;
}

.navbar-default .navbar-nav > li > a {
  color: #777777;
}

.navbar-default .navbar-nav > li > a:hover,
.navbar-default .navbar-nav > li > a:focus {
  color: #333333;
  background-color: transparent;
}

.navbar-default .navbar-nav > .active > a,
.navbar-default .navbar-nav > .active > a:hover,
.navbar-default .navbar-nav > .active > a:focus {
  color: #555555;
  background-color: rgba(94, 35, 0, 0.4);
}