li {
  padding: 5px;
}

.orange, h1, h2, h3, em {
  color: rgba(255, 108, 3, 1.0000);
}

.brown, p, div, span, h4, h5, h6 {
  color: rgba(94, 35, 0, 1.0000);
}

.italic {
  font-weight: italic;
}

.thumbnail {
  padding-top: 12px;
}

.caption p.description {
  height: 100px;
  overflow: scroll;
}

body, h1, h2, h3, h4, h5, h6, p, div, span, small {
  font-family: 'EB Garamond', serif;
}

.inline {
  display: inline;
}

.inline-block {
  display: inline-block;
}

#heading {
  margin-top: 20px;
  text-shadow: 3px 1px 1px #ccc;
  font-size: 6em;
  font-weight: bolder;
}

#subheading {
  padding: 10px;
  font-size: 3em;
}

#banner {
  margin-left: 30px;
}

#hero-img {
  max-height: 180px;
  padding-bottom: 20px;
}

#wavy {
  background-color: rgba(94, 35, 0, 1.0000);
  padding: 20px;
  display: block;
  width: 100%;
  padding: 10px 0px;
  margin: 0px;
}

#deliciousdark {
  color: rgba(255, 108, 3, 1.0000);
  font-size: 5em;
  font-weight: bold;
}

#chocolates {
  color: white;
  text-shadow: 3px 2px 1px #ccc;
  font-size: 5em;
  font-weight: bold;
}

.img-shadow {
  max-width: 200px;
  margin: 20px;
  border: 2px solid rgba(94, 35, 0, 1.0000);
  -webkit-box-shadow: 5px 5px 3px rgba(50, 50, 50, 0.62);
  -moz-box-shadow:    5px 5px 3px rgba(50, 50, 50, 0.62);
  box-shadow:         5px 5px 3px rgba(50, 50, 50, 0.62);
}


#wrapped-chocolates {
  padding: 60px;
}

#checklist {
  list-style: none;
  margin-left: 0;
  padding-left: 8em;
  text-indent: -8em;
  margin-left: 3em;
}

#checklist h2{
  text-indent: 0em;
}

.hearts {
  list-style-image: url("heart.jpg");
}


.btn-primary {
	background-color: rgba(252, 148, 23, 1.0000);
	border-color: rgba(94, 35, 0, 1.0000);
  display: inline-block;
	}
.btn:hover {
  background-color: rgba(255, 108, 3, 1.0000);
}
.btn-modal {
  margin-top: 10px;
}

.form-signin {
	width: 400px;
	margin: auto;
	padding: 40px;
}

.quantity {
  margin-top: 10px;
}

.contact-form {
  margin-top:70px;
}

.center {
  text-align: center;
}

#sidemenunav {
  background: transparent;
  bottom: 25px;
  left: 5px;
  position: fixed;
  width: 64px;
}


#sidemenunav a {
  display: block;
  height: 64px;
  background-image: url("facebook.png");
  background-size: 64px 64px;
}
