h1, p, div, span {
color: rgba(94, 35, 0, 1.0000);
}

.thumbnail {
  background: url(squairy_light.png) repeat 0 0;
  padding-top: 12px;
}

.caption p.description {
  height: 100px;
  overflow: scroll;
}

.jumbotron {
  background: url(subtle_white_feathers.png) repeat 0 0;
  margin-top: 80px;
}

h1, h2, h3 {
    font-family:'BookmanOldStyleW10-Bold';
    color: rgba(255, 108, 3, 1.0000);
}

h1 {
    font-size: 59px;
    line-height: 60px;
    text-shadow: 1px 1px 1px #ccc;
}
 
p, div, span {
    font-family:'Bookman Old Style W01';
    font-size: 18px;
    line-height: 25px;
}

.inline {
  display: inline;
}

#subheading, em {color: rgba(255, 108, 3, 1.0000);}

.jumbotron {
  background-color: rgba(255, 255, 255, 1.0000);
  margin-bottom: 0px;
  padding: 5px;
  }

#chocolate_bar {width: 100%;}

.btn-primary {
	background-color: rgba(252, 148, 23, 1.0000);
	border-color: rgba(94, 35, 0, 1.0000);
  display: inline-block;
	}
.btn:hover {
  background-color: rgba(255, 108, 3, 1.0000);
}
.btn-modal {
  margin-top: 10px;
}

.form-signin {
	width: 400px;
	margin: auto;
	padding: 40px;
}

.quantity {
  margin-top: 10px;
}

.contact-form {
    margin-top:70px;
}

.center {
  text-align: center;
}
#hero-img {
	max-height: 140px;
}

.navbar-default {
  background-color: rgba(94, 35, 0, 1);
  border-color: #e7e7e7;
}

.navbar-default .navbar-brand {
  color: white;
}

.navbar-default .navbar-brand:hover,
.navbar-default .navbar-brand:focus {
  color: rgba(255, 108, 3, 1.0000);
  background-color: transparent;
}

.navbar-default .navbar-text {
  color: white;
}

.navbar-default .navbar-nav > li > a {
  color: white;
}

.navbar-default .navbar-nav > li > a:hover,
.navbar-default .navbar-nav > li > a:focus {
  color: rgba(255, 108, 3, 1.0000);
  background-color: transparent;
}

.navbar-default .navbar-nav > .active > a,
.navbar-default .navbar-nav > .active > a:hover,
.navbar-default .navbar-nav > .active > a:focus {
  color: rgba(255, 108, 3, 1.0000);;
  background-color: rgba(94, 35, 0, 0.4);
}