<div class="container">

<div class="page-header center"><h1>Customers Say "Yum"</h1>
<h3>Testimonials for Cat's Cuties Extraordinary Chocolates</h3></div>

<% @testimonials.each do |testimonial| %>
  <div class="row">
		<div class="col-md-8 col-md-offset-2">
	    <blockquote>
	    <p><%= testimonial.quote %></p>
	    <small><%= testimonial.name %>
	    <% if testimonial.comment %>
	      <%= testimonial.comment %>
	    <% end %>
	    </small>
	    </blockquote>
	  </div>
	</div>
<% end %>
</div>



