<div class="container">

<div class="page-header"><h2>Testimonials for Cat's Cuties Extraordinary Chocolates</h2></div>

<% @testimonials.each do |testimonial| %>
  <div class="row">
		<div class="col-md-8 col-md-offset-2">
			<div class="panel panel-default">
			  <div class="panel-body">
			    <strong><%= testimonial.quote %> - <%= testimonial.name %></strong>
			    <% if testimonial.comment %>
			      <%= testimonial.comment %>
			    <% end %>
			  </div>
			</div>   
	  </div>
	</div>
<% end %>
</div>



