<div class="col-sm-2"></div>
<div class="col-sm-8">

	<div class="page-header">
		<div class="panel-body">
		  <h1>Welcome to Cat’s Cuties, a haven for those seeking delicious, beautiful, allergy-friendly desserts!</h1>
		</div>
	</div>

	<div class="page-header"><h2>About Our Ingredients</h2></div>
	<div class="panel">
		<div class="panel-body">
		  <p class="lead">We make Cat’s Cuties with certified gluten-free, vegan, kosher-parve, semi-sweet dark chocolate. They are free of all major allergens & many problem ingredients!</p>
		</div>

		<div class="panel-body">
		<h3 class="orange">CC chocolate </h3>
		  <p>Evaporated cane juice, non-alcoholic chocolate liqueur, non-dairy cocoa butter. Made in a dedicated gluten-free & nut-free facility; routinely batch-tested to make sure no casein (milk/dairy) has entered the process. Free of sodium, trans fat, & cholesterol. Anti-oxidant rich. Heart healthy!</p>

		<ul>
		  <li>No gluten (wheat, rye, barley, oats, or malt)</li>
		  <li>No peanuts or tree nuts</li>
		  <li>No milk (casein, dairy, or lactose)</li>
		  <li>No corn (except for “Margies”)</li>
		  <li>No soy</li>
		  <li>No or low sodium</li>
		  <li>No cholesterol</li>
		  <li>No trans fat</li>
		  <li>No food coloring </li>
		  <li>No high-fructose corn syrup</li>
		</ul>

		<h3 class="text-center"><em class="text-center">Stay tuned for more varieties, and don’t forget that we can make customized flavors & shapes to your tastes!</em></h3>

		<p><strong class="orange">Available ingredients you can mix & match:</strong>  
		Apricots, tart cherries, cranberries, orange peel, pineapple, prunes, raisins, coconut, ginger, cayenne, cinnamon, tumeric, anise seeds, sesame seeds, pumpkin seeds, & crunch.  Are we missing your favorite?  Let us know!  Send an email to <a href="mailto:cat@catscuties.com">cat@catscuties.com</a> or call Cat Kaner at 508-879-3355.</p>
		</div>
	</div>


	<div class="page-header"><h2>Safe Handling and Packaging</h2></div>
	<div class="panel">
		<div class="panel-body">

		<p><strong class="orange">Safely hand crafted – </strong>
		We make Cat’s Cuties in an exacting, sanitary process that prevents minimizes cross-contact with allergens.  Additionally, Cat (our Chief Cutie) completed Allergy Awareness Training, & is a Certified Food Protection Manager.</p>
	  <p><strong class="orange">Safe packaging – </strong>
	  We package Cat’s Cuties in the safest, FDA- &/or USDA-approved plastics.</p>
	   
	   <h3>You can feel good about saying “yes” to Cat’s Cuties.  Enjoy!</h3>

	  <div class="text-center"><em class="brown text-center"> Note to people with diabetes: our products contain sugar; please eat responsibly.</em></div>

  </div>
</div>

	<div class="page-header"><h2>Good For</h2></div>
	<div class="panel">
		<div class="panel-body">
			<ul class="list-group hearts">
			<li>vegans</li>
			<li>vegetarians</li>
			<li>gf/cf diets</li>
			<li>gluten-free</li>
			<li>dairy-free</li>
			<li>kosher</li>
			<li>teacher gifts</li>
			<li>chocoholics</li>
			<li>treating your sweeties!</li>
			</ul>
		</div>
	</div>
</div>
<div class="col-sm-2"></div>