<div class="panel center">

<h2 class="brown">Cat’s Cuties ™</h2>

<em>special desserts for special people ™</em>

<div class="panel-body"><p>gluten-free, vegan, dairy-free, 
kosher-parve, allergy-friendly, 
semi-sweet, 
<p class="lead">dark chocolates</p></p></div>

<h3>Cathryn “Cat” Kaner</h3>
<p class="lead">CEO / Chief Cutie / CFPM</p>                         
<p class="lead">508-879-3355</p>
<p class="lead">cat@catscuties.com</p>

<div><a href="http://www.catscuties.com" class="brown">www.catscuties.com</a></div>


<div><a href="http://www.facebook.com/cats.cuties" class="brown">www.facebook.com/cats.cuties</a></div>

</div>