<div class="jumbotron">
  <%= image_tag("chocolate_bar.jpg", id: "chocolate_bar")%>
  <div class="row">
    <div class="col-sm-4 col-md-4"><%= image_tag("brown bow butterfly.jpg", :id => "hero-img") %></div>
    <div class="col-sm-8 col-md-8"><h1>Cat's Cuties</h1><p><em>Special Desserts for Special People</em></p></div>
  </div>
</div>