<div class="jumbotron">
  <div class="row">
    <div class="page-header">
      <h1 class="inline"><%= image_tag("bow.png", :id => "hero-img") %>
      Cat's Cuties  </h1>  
      <p class="lead inline" id="subheading">special desserts for special people</p>
    </div>
  </div>
</div>