<!DOCTYPE html>
<html>
  <head>
    <title>Cat's Cuties</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="css/bootstrap.min.css" rel="stylesheet">
    <link href='http://fonts.googleapis.com/css?family=Oldenburg|Noto+Serif' rel='stylesheet' type='text/css'>

    <link rel="stylesheet" type="text/css" href="css/styles.css">
	  <script src="jquery/jquery-1.10.2.js"></script>
	  <script src="main.js"></script>
  </head>
  <body>
  <a href="#content" class="sr-only">Skip to main content</a>

  <div id="wrap">
    <div class="container">

      <div class="page-header"> 


        <ul class="nav nav-tabs">

          <li class="dropdown">
            <a class="dropdown-toggle" data-toggle="dropdown" href="#">
              Log In <span class="caret"></span>
            </a>
            <ul class="dropdown-menu">
              <li>something</li>

              <li>something else</li>

              <li>other thing</li>
            </ul>
          </li>

          <li class="dropdown">
            <a class="dropdown-toggle" data-toggle="dropdown" href="#">
              Sign up <span class="caret"></span>
            </a>
            <ul class="dropdown-menu">
              <li>something</li>

              <li>something else</li>

              <li>other thing</li>
            </ul>
          </li>

        </ul>

        <div class="jumbotron">
          <img id="chocolate_bar" src="images/chocolate_bar.jpg"/>
          <div class="row">
            <div class="col-sm-4 col-md-4"><img id="hero-img" src="images/brown bow butterfly.jpg"/></div>
            <div class="col-sm-8 col-md-8"><h1>Cat's Cuties</h1><p><em>Special Desserts for Special People</em></p></div>
          </div>
        </div>



        <nav class="navbar navbar-default" role="navigation">
          <!-- Brand and toggle get grouped for better mobile display -->
          <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
              <span class="sr-only">Toggle navigation</span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="#">Cat's Cuties</a>
          </div>

          <!-- Collect the nav links, forms, and other content for toggling -->
          <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav">
              <li class="active"><a href="/about">About</a></li>
              <li><a href="/testimonials">Testimonials</a></li>
              <li class="dropdown">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown">Custom Orders <b class="caret"></b></a>
                <ul class="dropdown-menu">
                  <li><a href="#">Action</a></li>
                  <li><a href="#">Another action</a></li>
                  <li><a href="#">Something else here</a></li>
                  <li class="divider"></li>
                  <li><a href="#">Separated link</a></li>
                  <li class="divider"></li>
                  <li><a href="#">One more separated link</a></li>
                </ul>
              </li>
            </ul>
            <form class="navbar-form navbar-left" role="search">
              <div class="form-group">
                <input type="text" class="form-control" placeholder="Search">
              </div>
              <button type="submit" class="btn btn-default">Submit</button>
            </form>
            <ul class="nav navbar-nav navbar-right">
              <li><a href="#">Link</a></li>
              <li class="dropdown">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown">Dropdown <b class="caret"></b></a>
                <ul class="dropdown-menu">
                  <li><a href="#">Action</a></li>
                  <li><a href="#">Another action</a></li>
                  <li><a href="#">Something else here</a></li>
                  <li class="divider"></li>
                  <li><a href="#">Separated link</a></li>
                </ul>
              </li>
            </ul>
          </div><!-- /.navbar-collapse -->
        </nav>

      </div>  


    <div class="container" id="content">
    <h2>Our delicious, gluten-free, vegan, dairy-free, kosher-parve, allergen-friendly, dark chocolates</h2>
      <div class="row">
        <div class="col-sm-6 col-md-4">
          <div class="thumbnail">
            <img src="images/berries.jpg" alt="Chocolate-covered apricots" class="img-thumbnail">
            <div class="caption">
              <h3>Alohas</h3>
              <p>A taste of summer...anytime! Alohas are clusters of pineapple, tart cherries, & coconut in our special dark chocolate.</p>
              <p><a href="#" class="btn btn-default" role="button">More Info</a> <a href="#" class="btn btn-primary" role="button">Order</a></p>
            </div>
          </div>
        </div>
          <div class="col-sm-6 col-md-4">
          <div class="thumbnail">
            <img src="images/apricots.jpg" alt="Chocolate-covered apricots" class="img-thumbnail">
            <div class="caption">
              <h3>Bonnie Bonnies</h3>
              <p>Super healthy & tasty clusters of coconut, cinnamon, & chocolate.</p>
              <p><a href="#" class="btn btn-default" role="button">More Info</a> <a href="#" class="btn btn-primary" role="button">Order</a></p>
            </div>
          </div>
        </div>
          <div class="col-sm-6 col-md-4">
          <div class="thumbnail">
            <img src="images/raisin_clusters.jpg" alt="Chocolate-covered apricots" class="img-thumbnail">
            <div class="caption">
              <h3>Bubbies</h3>
              <p>My Bubbie loved ginger & orange peel covered in dark chocolate. You'll love these, too!</p>
              <p><a href="#" class="btn btn-default" role="button">More Info</a> <a href="#" class="btn btn-primary" role="button">Order</a></p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div id="footer">
  <div class="container">
    <p class="text-muted credit">contact <a href="mailto:cat@catscuties.com">cat@catscuties.com</a></p>
  </div>
</div>
    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="https://code.jquery.com/jquery.js"></script>
    <!-- Include all compiled plugins (below), or include individual files as needed -->
    <script src="js/bootstrap.min.js"></script>
  </body>
</html>
